<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="js/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyB97TM4w-XeBDIYnMsxCFGaqWqfAD-n36U",
            authDomain: "todoproject-7badf.firebaseapp.com",
            databaseURL: "https://todoproject-7badf.firebaseio.com",
            projectId: "todoproject-7badf",
            storageBucket: "todoproject-7badf.appspot.com",
            messagingSenderId: "1071390095092"
        };
        firebase.initializeApp(config);
    </script>
    <script src="js/angularfire.min.js"></script>
</head>

<body ng-app="myApp" ng-controller='myCtrl'>
    <header>
        <input id="iputActivity" type="text" placeholder="Enter activity..." />
        <button id="add" ng-click="addAct()"><i style="color:#e68609" class="fa fa-plus"></i></button>
    </header>
    <ul id="actContainer">
        <li ng-repeat="x in arrList">
            <span id="#">{{x.activity}}</span>
            <i id="{{x.id}}" ng-click="doneActivity(this.id); removeElement(this.id);" class="fa fa-check-circle" style="padding-left:15px; color:aqua; float: right; height: 50px;"></i>
            <i id="{{x.id}}" ng-click="rmvAct($event);" class="fa fa-trash" aria-hidden="true" style="border-right: 2px solid violet; padding: 5px 15px; border-color: lightgrey; float: right"></i>
        </li>
    </ul>
    <hr style="background-color: grey;margin: 30px;">

    <ul id="doneActContainer">

    </ul>

    <script src="index.js"></script>
    <script>
        var database = firebase.database();

        var app = angular.module('myApp', ['firebase']);

        app.controller('myCtrl', function ($scope, $firebaseArray) {
            $scope.arrList = $firebaseArray(database.ref('list'));
            // console.log();
            $scope.addAct = function () {
                eId += 1;
                let inputActivity = $("iputActivity").value;
                let expireDate = "25/05/19";
                $("iputActivity").value = "";
                let data = {
                    id: eId,
                    activity: inputActivity,
                    expData: expireDate

                };

                $scope.arrList.push(data);

                // save data in local storage

                let newArr = lsExGJInit("todo");
                newArr.push(data);
                lsSetJ('todo', newArr);


                // Get a reference to the database service  ......   write data in firebase DB

                database.ref('list').push(data);

            }

            $scope.rmvAct = function (event) {
                //console.log(event.target.id);
                //console.log($scope.arrList);
                // let got = $scope.arrList.find(function (el) {
                //     return el.id == event.target.id;
                // });
                //$scope.arrList.splice($scope.arrList.indexOf(got), 1);
                // for (var i = 0; i < $scope.arrList.length - 1; i++) {
                //     if ($scope.arrList[i].id === event.target.id) {
                //         arr.splice(i, 1);
                //     }
                // }

                // Remove data in local storage

                let newArr = lsExGJInit("todo");
                let got = newArr.find(function (el) {
                    return el.id == event.target.id;
                });
                newArr.splice(newArr.indexOf(got), 1);
                lsSetJ('todo', newArr);
                $scope.arrList = lsExGJInit("todo");

            }
        });

    </script>
</body>

</html>